<section id="faq" class="faq">
  <div class="container">
    <h2>FAQ</h2>
    <p>Quick answers</p>
    <ul class="accordion-container">
      <li class="ac">
        <button class="faq-btn ac-trigger">
          <span>Is Quell Zen difficult to learn?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <p class="ac-panel">
          No, the controls and mechanics are simple and intuitive.
        </p>
      </li>
      <li class="ac">
        <button class="faq-btn ac-trigger">
          <span>Does the game focus on relaxation?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <p class="ac-panel">
          Yes, the entire experience is built around calm gameplay and
          mindfulness.
        </p>
      </li>
      <li class="ac">
        <button class="faq-btn ac-trigger">
          <span>Are the puzzles fast-paced?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <p class="ac-panel">
          No, the gameplay encourages thoughtful and relaxing progression.
        </p>
      </li>
      <li class="ac">
        <button class="faq-btn ac-trigger">
          <span>What style should the landing page follow?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <p class="ac-panel">
          Minimalist, atmospheric, elegant, and emotionally calming.
        </p>
      </li>
      <li class="ac">
        <button class="faq-btn ac-trigger">
          <span>Is the game suitable for short sessions?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <p class="ac-panel">
          Yes, levels are designed for flexible casual play.
        </p>
      </li>
    </ul>
  </div>
</section>
