<section id="Faq" class="faq-section">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <p class="faq-subtitle">Quick answers</p>
    <ul class="accordion-container" data-accordion>
      <li class="faq-item ac">
        <button class="faq-btn ac-trigger">
          <span class="faq-question">Is Quell Zen difficult to learn?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <div class="faq-answer ac-panel">
          <p class="intro">
            No, the controls and mechanics are simple and intuitive.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <button class="faq-btn ac-trigger">
          <span class="faq-question">Does the game focus on relaxation?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <div class="faq-answer ac-panel">
          <p class="intro">
            Yes, the entire experience is built around calm gameplay and
            mindfulness.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <button class="faq-btn ac-trigger">
          <span class="faq-question">Are the puzzles fast-paced?</span>
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <div class="faq-answer ac-panel">
          <p class="intro">
            No, the gameplay encourages thoughtful and relaxing progression.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <button class="faq-btn ac-trigger">
          <span class="faq-question"
            >What style should the landing page follow?</span
          >
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <div class="faq-answer ac-panel">
          <p class="intro">
            Minimalist, atmospheric, elegant, and emotionally calming.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <button class="faq-btn ac-trigger">
          <span class="faq-question"
            >Is the game suitable for short sessions?</span
          >
          <svg class="faq-icon" width="42px" height="42px">
            <use href="{=$icon-arrow}"></use>
          </svg>
        </button>
        <div class="faq-answer ac-panel">
          <p class="intro">
            Yes, levels are designed for flexible casual play.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
