<header class="page">
  <div class="container page-container">
    <nav class="page-menu">
      <a class="logo page-logo" href="./index.html">
        <svg class="logo-icon" width="144" height="60">
          <use href="./img/logo.svg"></use>
        </svg>
      </a>
      <ul class="menu-list">
        <li class="menu-list-item">
          <a class="menu-list-link" href="#top">Home</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-link" href="#about">About</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-link" href="#play">How to Play</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-link" href="#features">Features</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-link" href="#faq">FAQ</a>
        </li>
      </ul>
      <button class="burger-btn" type="button" data-action="open">
        <svg class="burger-icon" width="44" height="44">
          <use href="./img/sprite.svg#icon-burger-icon"></use>
        </svg>
      </button>
    </nav>

    <div class="mobile-menu" data-visible>
      <div class="mobile-menu-container">
        <button class="mobile-menu-close" type="button" data-action="close">
          <svg class="mobile-close-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-btn-close"></use>
          </svg>
        </button>
        <nav class="mobile-nav">
          <ul class="mobile-nav-list">
            <li class="mobile-nav-item" data-nav-item>
              <a class="mobile-nav-link" href="#top">Home</a>
            </li>
            <li class="mobile-nav-item" data-nav-item>
              <a class="mobile-nav-link" href="#about">About</a>
            </li>
            <li class="mobile-nav-item" data-nav-item>
              <a class="mobile-nav-link" href="#play">How to Play</a>
            </li>
            <li class="mobile-nav-item" data-nav-item>
              <a class="mobile-nav-link" href="#features">Features</a>
            </li>
            <li class="mobile-nav-item" data-nav-item>
              <a class="mobile-nav-link" href="#faq">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- mobile menu -->
</header>
