:root {
  --font-main: 'Montserrat', sans-serif;
  --color-body-bg:#fff;
  --color-header-bg: #ecdaf5;
  --color-footer-bg: #8a8bb0;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-body-bg);
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
