.contact {
  position: relative;
  background-image: linear-gradient(180deg, #ecdaf5 28.86%, #fcfaf9 76.66%);
  padding-top: 40px;
  padding-bottom: 23px;
  z-index: 1;
}
.contact::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../img/mob-bg-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}
@media (min-resolution: 192dpi) {
  .contact::before {
    background-image: url('../img/mob-bg-footer.jpg');
  }
}

.contact-back {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
}

.contact-contentbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-weight: 600;
  font-size: 30px;
  color: #7316a8;
  margin-bottom: 16px;
}

.contact-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: #000;
  margin-bottom: 24px;
  text-align: center;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-decoration-skip-ink: none;
  color: #1f34d3;
}
.contact-link:hover,
.contact-link:focus {
  text-decoration: underline;
}

.contact-link-svg {
  width: 24px;
  height: 24px;
  fill: #1f34d3;
}

@media screen and (min-width: 1440px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 9px;
  }
  .contact::before {
    background-image: url('../img/bg-footer.jpg');
  }
  @media (min-resolution: 192dpi) {
    .contact::before {
      background-image: url('../img/bg-footer.jpg');
    }
  }
  .contact-back {
    display: flex;
    flex-direction: column;
    gap: 63px;
  }

  .contact-title {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .contact-text {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 32px;
  }

  .contact-link-svg {
    width: 32px;
    height: 32px;
  }

  .contact-link-text {
    font-size: 24px;
    line-height: 100%;
  }

  .contact-image {
    display: block;
    margin: 0 auto;
  }
}
