button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.faq-section .container {
    padding-top: 40px;
    padding-bottom: 40px;
}
@media screen and (min-width: 1440px) {
    .faq-section .container {
        padding: 60px 297px;
    }
}

.faq-section {
    background: linear-gradient(180deg, #fcfaf9 0%, #ecdaf5 69.71%);
}

.faq-title {
    font-weight: 600;
    font-size: 30px;
    color: #7316a8;
    margin-bottom: 16px;
}

.faq-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    color: #000;
    margin-bottom: 32px;
}

.faq-item {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 12px;
    margin-bottom: 24px !important;
}
.faq-item:last-child {
    margin-bottom: 0 !important;
}

.ac .ac-trigger::after {
    display: none;
    content: none;
}

.faq-btn, .ac .ac-trigger{
    display: flex !important;
    padding: 15px 30px !important;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

.faq-question {
    font-weight: 600 !important;
    font-size: 18px !important;
    color: #000 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.faq-answer {
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    color: #000;
    padding: 0 30px 0 30px;
}

.intro {
    padding-top: 5px;
    padding-bottom: 10px;
}

.faq-icon {
    fill: #000;
    flex-shrink: 0;
    transition: transform 0.4s ease;
}
.faq-icon, .ac .ac-trigger:focus {
    color: #000;
}

.ac.is-active .faq-icon {
    transform: rotate(180deg);
}
@media screen and (min-width: 1440px) {
    .faq-title {
        font-size: 36px;
        margin-bottom: 24px;
    }
    .faq-subtitle {
        font-size: 20px;
        line-height: 130%;
    }
    .faq-btn,
    .ac .ac-trigger {
        padding: 21px 30px !important;
        gap: 34px;
    }
    .faq-question {
        font-size: 24px !important;
    }
    .faq-answer {
        font-weight: 400;
        font-size: 16px;
        line-height: 186%;
        color: #000;
        padding: 0 30px 0 30px;
    }
    .faq-answer {
        font-size: 16px;
        line-height: 163%;
        padding: 0 30px 0 30px;
    }
}