div[data-box='features'] {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 343px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.features {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fcfaf9;
}
.features-title {
  font-weight: 600;
  font-size: 30px;
  color: #7316a8;
  margin-bottom: 16px;
}
.features-quote {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44444;
  color: #000;
  margin-bottom: 32px;
}
.features-list {
  display: none;
}
.features-card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #dbfafb 3.37%, #bacefc 86.54%);
  text-align: center;
  border-radius: 16px;
  padding: 32px 22px;
}
.features-card-icon {
  margin-bottom: 12px;
  fill: #6319da;
}
.features-card-title {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 12px;
}
.features-card-text {
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.625;
  text-align: center;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  div[data-box='features'] {
    display: none;
  }
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .features-container {
    text-align: center;
  }
  .features-title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .features-quote {
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    margin-bottom: 48px;
  }

  .features-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;

    grid-template-areas:
      'a a b b c c'
      '. d d e e .';
  }
  .features-card:nth-child(1) {
    grid-area: a;
  }
  .features-card:nth-child(2) {
    grid-area: b;
  }
  .features-card:nth-child(3) {
    grid-area: c;
  }
  .features-card:nth-child(4) {
    grid-area: d;
  }
  .features-card:nth-child(5) {
    grid-area: e;
  }
  .features-card-icon {
    margin-bottom: 16px;
  }
  .features-card-title {
    margin-bottom: 16px;
  }
  #features-card-title {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .features-card {
    padding: 40px 40px;
  }
}
