.footer {
  background-color: #8a8bb0;
}
.footer .container {
  padding: 40px 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.footer-policy {
  margin-bottom: 8px;
}
.footer-policy a:hover,
.footer-policy a:focus {
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  .footer .container {
    padding: 60px 0;
    font-size: 14px;
  }
}
