.page {
  background-color: #ecdaf5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.page-container {
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list {
  display: none;
}

.logo {
  display: block;
}

.page-logo {
  padding: 10px 0;
}
.logo-icon {
  display: block;
}

.burger-btn {
  display: block;
  line-height: 0;
}
.burger-icon {
  fill: #b806e8;
}
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  background-color: #ffffff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  padding: 24px;
  box-sizing: border-box;
  z-index: 10;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  background: linear-gradient(180deg, #fcfaf9 0%, #ecdaf5 69.71%);
}

.mobile-menu-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
}
.mobile-menu[data-visible='open'] {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
}

.mobile-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}
.mobile-nav-link {
  font-size: 18px;
  text-align: center;
  color: #000;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #9500c2;
}

@media screen and (min-width: 1440px) {
  .menu-list {
    display: flex;
    align-items: center;
    gap: 136px;
  }
  .menu-list-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #000;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-list-link:hover,
  .menu-list-link:focus {
    color: #9500c2;
  }

  .menu-list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #2e2f42;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu,
  .burger-btn {
    display: none;
  }
}
