.header {
  padding: 0px 16px;
  background-color: #ecdaf5;
  height: auto;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 108px;
  height: 50px;
  margin-right: auto;
}

.nav {
  display: none;
  justify-content: space-between;
  margin-right: auto;
  width: 100%;
}

.nav-list {
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 136px;
  margin-left: auto;
}
.nav-link {
  position: relative;
  display: block;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.nav-link:hover,
.nav-link:focus {
  color: #9500c2;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecdaf5;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 18px;
}

.icon-burgermenu {
  width: 36px;
  height: 25px;
  fill: none;
  stroke: #b806e8;
}

.mobile-nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  height: 374px;
  color: #fff;
  background: linear-gradient(180deg, #fcfaf9 0%, #ecdaf5 69.71%);

  transform: translateX(100%);
  transition: transform 300ms ease;

  z-index: 1000;

  padding: 60px 66px;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  position: absolute;
  top: 18px;
  right: 18px;

  border: none;
  background: transparent;
}

.icon-close {
  width: 16px;
  height: 16px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.mobile-nav-link {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  font-weight: 400;
  font-size: 18px;
  color: #9500c2;
}

.mobile-nav-menu[data-visible='open'] {
  transform: translateX(0);
}

/* [data-visible='open'] {
  display: flex;
}

[data-visible='close'] {
  display: none;
} */

@media screen and (min-width: 1440px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .logo {
    width: 142px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav {
    display: flex;
  }

  .nav-list {
    display: flex;
  }

  .burger-btn {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);

  opacity: 0;
  pointer-events: none;

  transition: opacity 300ms ease;

  z-index: 900;
}

.overlay[data-visible='open'] {
  opacity: 1;
  pointer-events: auto;
}
