div[data-box='swiper-steps'] {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 343px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.swiper-slide {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #fddef5 0%, #e6cef2 86.54%);
  text-align: center;
  border-radius: 16px;
  padding: 32px 22px;
  height: 240px !important;
}
.play {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fcfaf9;
}
.play-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 30px;
  color: #7316a8;
}
.play-quote {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44444;
  color: #000;
}
.play-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.play-steps {
  display: none;
}
.play-image {
  border-radius: 16px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.6;
}
.play-items {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #fddef5 0%, #e6cef2 86.54%);
  text-align: center;
  border-radius: 16px;
  padding: 32px 22px;
}
.play-items-icon {
  margin-bottom: 12px;
  fill: #dc54ee;
}
.play-items-title {
  font-weight: 600;
  font-size: 24px;
  color: #000;
  margin-bottom: 12px;
}
.play-items-title span {
  display: block;
}
.play-items-text {
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #000;
}

@media only screen and (min-width: 1440px) {
  div[data-box='swiper-steps'] {
    display: none;
  }
  .play {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .play-title {
    margin-bottom: 24px;
    font-size: 36px;
  }
  .play-quote {
    margin-bottom: 48px;
    font-size: 20px;
  }
  .play-box {
    flex-direction: row;
    gap: 32px;
  }
  .play-image {
    box-shadow: none;
  }
  .play-steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .play-items {
    padding: 40px 32px;
  }
  .play-items-title {
    margin-bottom: 16px;
  }
  .play-items-title span {
    display: inline;
  }
}
