.privacy-main {
  margin-bottom: 60px;
}
.privacy-terms-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.back-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.back-link-icon {
  display: block;
  width: 20px;
}
.privacy-head-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.privacy-title {
  font-weight: 500;
  font-size: 36px;
  color: #000;
}
.privacy-date {
  font-size: 14px;
  text-align: center;
  color: #2a2a2a;
}
.privacy-content {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.625;
}
.privacy-content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.points {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.points .point-title {
  font-weight: 500;
  font-size: 24px;
}
.point-list {
  list-style-type: disc;
  padding-left: 16px;
}
.point-sublist {
  list-style-type: circle;
  padding-left: 16px;
}
.point-email {
  text-decoration-skip-ink: none;
  color: #1f34d3;
}
.point-email:hover,
.point-email:focus {
  text-decoration: underline;
}

@media only screen and (min-width: 1440px) {
  .privacy-main {
    margin-bottom: 100px;
  }
  .privacy-content-container {
    max-width: 800px;
    padding: 0;
  }
}
