.privacy {
  padding: 40px 0;
}
.privacy .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-link {
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.head {
  text-align: center;
  margin-bottom: 40px;
}
.head-title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 16px;
  color: #000;
}
.head-public {
  font-size: 14px;
  text-align: center;
  color: #2a2a2a;
}
.main-privacy .container {
  padding-bottom: 60px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content-intro {
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.625;
  color: #2a2a2a;
}
.content-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 28px;
}
.content-items li::marker,
.content-item-title {
  font-weight: 500;
  font-size: 24px;
}
.content-item-title {
  margin-bottom: 24px;
}
.content-item-info {
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.625;
  color: #2a2a2a;
  list-style-type: disc;
}
.content-item-sub {
  list-style-type: circle;
  padding-left: 20px;
}
.content-link-mail {
  text-decoration: underline;
  color: #1f34d3;
}
.content-item > .content-item-text {
  margin-left: -28px;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.625;
  color: #2a2a2a;
}

@media only screen and (min-width: 1440px) {
  .main-privacy .container {
    max-width: 800px;
  }
}
