.terms-main {
  margin-bottom: 60px;
}

.terms-title {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

.terms-block:not(:last-child) {
  margin-bottom: 40px;
}

.terms-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2a2a2a;
  margin-bottom: 24px;
}

.terms-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #2a2a2a;
}

.terms-text:not(:last-child) {
  margin-bottom: 16px;
}

.domain {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #1f34d3;
}

@media only screen and (min-width: 1440px) {
  .terms-main {
    margin-bottom: 100px;
  }
  .terms-main .container {
    padding: 0;
    max-width: 800px;
  }
}
